* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(47, 45, 45);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

#logo {
  text-decoration: none;
}

header h1 {
  color: #ffff;
  font-size: 55px;
  font-family: montserrat;
}

header nav {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.links {
  color: #ffff;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  padding: 15% 0;
  flex-direction: column;
}

form h2 {
  color: #ffff;
  margin: 0 0 10px 0;
  line-height: 1;
}

#mileageSubmit {
  background-color: black;
  color: #ffff;
  border-radius: 10px;
  padding: 0px 10px;
  width: 150px;
  margin-top: 10px;
}

#oilChangeMileageSubmit {
  background-color: black;
  color: #ffff;
  border-radius: 10px;
  padding: 0px 10px;
  width: 150px;
  margin-top: 10px;
}

#milesInput {
  text-align: center;
}
#oilChangeInput {
  text-align: center;
}

#formDiv {
  background-color: #690a0c;
  display: flex;
  justify-content: center;
  width: 30vw;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 60px;
  box-sizing: border-box;
  max-width: 400px;
}
#oilChangeInputForm {
  background-color: #690a0c;
  display: flex;
  justify-content: center;
  width: 30vw;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 60px;
  box-sizing: border-box;
  max-width: 400px;
}

#milesInputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#oilChangeInputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dateTime {
  width: 30vw;
  border-radius: 15px;
  background-color: #c5c5c5;
  box-sizing: border-box;
  max-width: 400px;
}
#historyDateTime {
  width: 30vw;
  border-radius: 15px;
  background-color: #c5c5c5;
  box-sizing: border-box;
  max-width: 400px;
}

.columnNames {
  display: flex;
  justify-content: space-around;
  background-color: #690a0c;
  padding: 5px;
}

.columnNames h3 {
  color: #ffff;
}

#list {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}



/* history.css ------------------------------------------------ */
